In [18]:
from pandas import DataFrame, read_csv
import pandas as pd
import matplotlib.pyplot as plt
import sys

movies = pd.read_table('.movies.dat', header = None, delimiter = '::', names = ['Movie_id', 'Movie_name', 'Description'])
users = pd.read_table('.users.dat', header =None, delimiter = '::', names = ['User_id', 'Gender', 'Age', 'Occupation', 'ZipCode'])
ratings = pd.read_table('.ratings.dat', header = None, delimiter = '::', names = ['User_id', 'Movie_id', 'Rating', 'Timestamp'])

In [34]:
'''1) 25 фильмов наиболее высоко оценены (сумма оценок по всем зрителям)'''

movie_name = movies[['Movie_id', 'Movie_name']]
mv_rating = ratings[['Movie_id', 'Rating']]
mv_rating = mv_rating.merge(movie_name, how = 'left', on = 'Movie_id')
mv_rating = mv_rating[['Movie_name', 'Rating']]
mv_rating_gr = mv_rating.groupby('Movie_name', as_index = False)
mv_rating = mv_rating_gr.sum()
sortedRt = mv_rating.sort('Rating', ascending=False)
del mv_rating, movie_name, mv_rating_gr
sortedRt.head(25)

                                             Movie_name  Rating
127                              American Beauty (1999)   14800
3153          Star Wars: Episode IV - A New Hope (1977)   13321
3154  Star Wars: Episode V - The Empire Strikes Back...   12836
3155  Star Wars: Episode VI - Return of the Jedi (1983)   11598
2894                         Saving Private Ryan (1998)   11507
2711                     Raiders of the Lost Ark (1981)   11257
2990                   Silence of the Lambs, The (1991)   11219
2112                                 Matrix, The (1999)   11178
3015                            Sixth Sense, The (1999)   10835
3293                  Terminator 2: Judgment Day (1991)   10751
1122                                       Fargo (1996)   10692
2901                            Schindler's List (1993)   10392
509                                   Braveheart (1995)   10346
258                           Back to the Future (1985)   10307
2970                   Shawshank Redemption, The (1994)   10143
1354                              Godfather, The (1972)   10059
1789                               Jurassic Park (1993)   10057
2654                         Princess Bride, The (1987)    9976
2960                         Shakespeare in Love (1998)    9778
1860                           L.A. Confidential (1997)    9654
2141                                Men in Black (1997)    9492
2682                                Pulp Fiction (1994)    9288
336                         Being John Malkovich (1999)    9245
1427                               Groundhog Day (1993)    9005
1007                  E.T. the Extra-Terrestrial (1982)    8997

[25 rows x 2 columns]

In [35]:
'''2) Фильмы получили самую высокую среднюю оценку?'''

mv_rating = ratings[['Movie_id', 'Rating']]
movie_name = movies[['Movie_id', 'Movie_name']]
mv_rating = mv_rating.merge(movie_name, how = 'left', on = 'Movie_id')
mv_rating = mv_rating[['Movie_name', 'Rating']]
mv_rating_gr = mv_rating.groupby('Movie_name', as_index = False)
mv_rating = mv_rating_gr.mean()
nameList = [mv_rating['Movie_name'][i] for i in range(len(mv_rating)) if mv_rating['Rating'][i] == mv_rating['Rating'].max()]
del mv_rating, movie_name, mv_rating_gr
DataFrame(nameList, columns = ['Movie'])

                                       Movie
0                           Baby, The (1973)
1                   Bittersweet Motel (2000)
2                    Follow the Bitch (1998)
3         Gate of Heavenly Peace, The (1995)
4                               Lured (1947)
5                   One Little Indian (1973)
6  Schlafes Bruder (Brother of Sleep) (1995)
7                       Smashing Time (1967)
8                     Song of Freedom (1936)
9                    Ulysses (Ulisse) (1954)

[10 rows x 1 columns]

In [38]:
'''3) О каких фильмах больше всего разногласий между мужчинами и женщинами?'''

mv_rating = ratings[['Movie_id', 'Rating', 'User_id']]
movie_name = movies[['Movie_id', 'Movie_name']]
user_sex = users[['User_id', 'Gender']]
mv_rating = mv_rating.merge(movie_name, how = 'left', on = 'Movie_id')
mv_rating = mv_rating[['Movie_name', 'Rating', 'User_id']]
mv_rating = mv_rating.merge(user_sex, how = 'left', on = 'User_id')
mv_rating = mv_rating[['Movie_name', 'Rating', 'Gender']]
mv_rating = mv_rating.groupby(['Movie_name', 'Gender'], as_index = False)
mv_rating = mv_rating.mean()
mv_rating = mv_rating.groupby('Movie_name', as_index = False)
mv_rating = mv_rating.std()
nameList = [mv_rating['Movie_name'][i] for i in range(len(mv_rating)) if mv_rating['Rating'][i] == mv_rating['Rating'].max()]
del mv_rating, movie_name, user_sex
DataFrame(nameList, columns = ['Movie'])

                                        Movie
0  Tigrero: A Film That Was Never Made (1994)

[1 rows x 1 columns]

In [39]:
'''4) Какие фильмы наиболее противоречивы среди разных возрастов?"'''

movie_name = movies[['Movie_id', 'Movie_name']]
mv_rating = ratings[['Movie_id', 'Rating', 'User_id']]
user_age = users[['User_id', 'Age']]
mv_rating = mv_rating.merge(movie_name, how = 'left', on = 'Movie_id')
mv_rating = mv_rating[['Movie_name', 'Rating', 'User_id']]
mv_rating = mv_rating.merge(user_age, how = 'left', on = 'User_id')
mv_rating = mv_rating[['Movie_name', 'Rating', 'Age']]
mv_rating = mv_rating.groupby(['Movie_name', 'Age'], as_index = False)
mv_rating = mv_rating.mean()
mv_rating = mv_rating.groupby('Movie_name', as_index = False)
mv_rating = mv_rating.std()
nameList = [mv_rating['Movie_name'][i] for i in range(len(mv_rating)) if mv_rating['Rating'][i] == mv_rating['Rating'].max()]
'''del rt1, mv1, us1'''
DataFrame(nameList, columns = ['Movie'])

                                           Movie
0  Black Sunday (La Maschera Del Demonio) (1960)

[1 rows x 1 columns]